.menu  {
    background-image: url("../images/Background1.png");
    background-size: cover;
    width: 1920px;
    height: 650px;
    }
.logo  {
    padding-top: 36px;
    padding-left: 390px;
    }
.gr_text {
    margin-top: 157px;
    margin-left: 491px;
    width: 933px;
    height: 90px;
    }

.text1 {
    font-family: Arial, serif;
    color: #ffffff;
    font-size: 46px;
    font-weight: 700;
    }
.text2 {
    font-family: Dotum, serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: 100;
    margin-top: -40px;
    }
.button1 {

    margin-top: 49px;
    float: center;
    border-radius: 3px;
    border-width: 4px;
    border-color:  #45BE70;
    border-style: solid;
    width: 134px;
    height: 35px;
    opacity: .1;
    color: #45BE70;
    text-align: center;
    }
.images {
    width: 1140px;
    height: 828px;
    padding: 134px 390px 150px 390px;
    }
.item1 {
    width: 450px;
    height: 302px;
    margin-top: 0;
    margin-right: 40px;
    float: left;
    border-radius: 10px;
    }
.item2 {
    width: 650px;
    height: 438px;
    border-radius: 10px;
    }
.item3 {
    width: 450px;
    height: 486px;
    margin-top: -94px;
    margin-right: 40px;
    float: left;
    border-radius: 10px;
    }
.item4 {
    width: 650px;
    height: 350px;
    margin-top: 40px;
    border-radius: 10px;
   }
.man {
    float: left;
    width: 1920px;
    height: 500px;
    }
.contact {
    float: left;
    margin-top: 51px;
    font-family: Arial, serif;
    color:  #45BE70;
    font-size: 26px;
    font-weight: 700;
    padding-left: 848px;
    text-align: center;
    }
.table {
    float: left;
    margin-bottom: 31px;
    font-family: Arial, serif;
    font-size: 26px;
    font-weight: 700;
    padding-left: 895px;
    text-align: center;
}
.myform {
    margin: 54px 610px 200px 610px;
    width: 703px;
    height: 390px;
    }
.nom{
    background-image: url("../images/icon-nom.png");
    background-repeat: no-repeat;
    padding-left: 60px;
    width: 270px;
    height: 46px;
    float: left;
    border: 2px solid #394754;
    }
.email {
    background-image: url("../images/icon-email.png");
    background-repeat: no-repeat;
    padding-left: 60px;
    width: 270px;
    height: 46px;
    float: right;
    border: 2px solid #394754;
    }
.message {
    background-image: url("../images/icon-message.png");
    background-repeat: no-repeat;
    padding-left: 60px;
    width: 640px;
    height: 224px;
    margin-top: 30px;
    border: 2px solid #394754;
    text-align: justify;
    }
.envoy{
    margin-top: 30px;
    width: 703px;
    height: 50px;
    border-radius: 3px;
    background-color:  #45BE70;
    color: white;
    }
.rectangle  {
    background-color: #384653;
    background-size: cover;
    width: 1920px;
    height: 201px;
    margin-top: 683px;
    }
.copyrigt {
    float: left;
    padding-top: 80px;
    padding-left: 392px;
    font-family: Lato, serif;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    }
.social{
    padding-top: 73px;
    padding-left: 466px;
    }